<template>
  <div>
    <div class="scene">
      <div
        class="card" v-bind:class="{ 'flipme': card.isFlipped,'matched': card.isMatched }" v-bind:isFlipped="card.isFlipped">
        <div class="card__face card__face--front"><img :src="require(`../assets/${card.front}`)" alt=""></div>
        <div class="card__face card__face--back" ><img :src="require(`../assets/${card.back}`)" alt=""></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name:'Card',
  props:{
    card:{
      name:String,
      front:String,
      back:String,
      isFlipped:Boolean,
      isMatched:Boolean
    }
  },
}
</script>

<style scoped>
.scene {
  width: 120px;
  height: 120px;
  margin: 10px;
}
.card {
  border-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  
}
.card__face {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility:visible;
}
.card__face--front {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background: black;
}
img{
  width:90%;
  height: 90%; 
}
.card__face--back {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background:black;
  transform: rotateY(180deg);
}

/* this style is applied when the card is clicked */
.flipme {
  transform: rotateY(180deg);
}
/* this style is applied when the card is matched */
.matched{
  opacity: 0.5;
}
@media screen and (max-width: 769px){
  .scene{
    width:60px;
    height: 60px;
    margin: 5px;
  }
}

</style>