<template>
    <footer class="footer-bottom">
        <h6>{{titre}}-{{date}}</h6>
    </footer>
</template>

<script> 
    export default{
        name:'Footer',
        data(){
            return{
                titre:'Paulo',
                date:'2021'
            }
        }
    }
</script>

<style scoped>
    .footer-bottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        width: 100%;
        margin-top:10px; 
        background:black;
        color:#40b480;
         
    }
</style>