<template>
    <header class="header-top">
        <h1>{{titre}}</h1>
    </header>
</template>

<script> 
    export default{
        name:'Header',
        data(){
            return{
                titre:'MEMORY GAME'
            }
        }
    }
</script>

<style scoped>
    .header-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        width: 100%;
        background:black;
        color:#40b480;
    }
</style>