<template>
  <div class="bloc-modale" v-if="revele">
    <div v-on:click="toggleModale"  class="overlay" ></div>

    <div class="modale card">
      <div v-on:click="toggleModale" class="btn-modale btn btn-danger">X</div>
      <p>Félicitations !!!</p>
      <p>Vous avez trouvé  toutes les paires du Memory</p>
    </div>
  </div>
</template>


<script>
export default {
  name: "Modale",
  props:['revele','toggleModale']
};
</script>


<style scoped>
.bloc-modale {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(54, 38, 54);
  color:whitesmoke;
  padding: 50px;
  position: fixed;
  top: 40%;
  margin: 10px;
}

.btn-modale {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media screen and (max-width: 455px){
  p{
      font-size: 10px;
  }
}


</style>
