<template>
   <div class="container">
    <div class="board">
      <score-panel  v-bind:nbpairs="nbpairs" v-bind:nbturns="nbturns" v-bind:minutes="minutes" v-bind:secondes="secondes"></score-panel> 
        <div v-for="(card,index) in cards" v-bind:key="index" v-on:click.prevent="flipCards">
          <card :card="card" @click="card.isFlipped=true"></card>
        </div>
    </div>
     <div id="btn-start"><button id="color-btn" class="btn" v-on:click="startGame">Start Game</button></div>
  </div>
  <modale v-bind:revele="revele" v-bind:toggleModale="toggleModale"></modale> 
</template>

<script>
import Card from './Card.vue'
import ScorePanel from './ScorePanel.vue'
import _shuffle from 'lodash/shuffle'
import Modale from './Modale.vue'

export default{
    name:'Panel',
    data(){
        return{
            cards:[
                {name:'hibou',front:'logo.png',back:'hibou.png',isFlipped:false,isMatched:false},
                {name:'hibou',front:'logo.png',back:'hibou.png',isFlipped:false,isMatched:false},
                {name:'licorne',front:'logo.png',back:'licorne.png',isFlipped:false,isMatched:false},
                {name:'licorne',front:'logo.png',back:'licorne.png',isFlipped:false,isMatched:false},
                {name:'dinosaure',front:'logo.png',back:'dinosaure.png',isFlipped:false,isMatched:false},
                {name:'dinosaure',front:'logo.png',back:'dinosaure.png',isFlipped:false,isMatched:false},
                {name:'cat',front:'logo.png',back:'cat.png',isFlipped:false,isMatched:false},
                {name:'cat',front:'logo.png',back:'cat.png',isFlipped:false,isMatched:false},
                {name:'panda',front:'logo.png',back:'panda.png',isFlipped:false,isMatched:false},
                {name:'panda',front:'logo.png',back:'panda.png',isFlipped:false,isMatched:false},
                {name:'zebre',front:'logo.png',back:'zebre.png',isFlipped:false,isMatched:false},
                {name:'zebre',front:'logo.png',back:'zebre.png',isFlipped:false,isMatched:false},
                {name:'vache',front:'logo.png',back:'vache.png',isFlipped:false,isMatched:false},
                {name:'vache',front:'logo.png',back:'vache.png',isFlipped:false,isMatched:false},
                {name:'chenille',front:'logo.png',back:'chenille.png',isFlipped:false,isMatched:false},
                {name:'chenille',front:'logo.png',back:'chenille.png',isFlipped:false,isMatched:false},
                {name:'jackalope',front:'logo.png',back:'jackalope.png',isFlipped:false,isMatched:false},
                {name:'jackalope',front:'logo.png',back:'jackalope.png',isFlipped:false,isMatched:false},
                
            ],
            flippedCards:[],
            nbturns:0,
            nbpairs:9,
            timer:null,
            totalTime:0,
            finish:false,
            revele:false
        }
    },
    components: {
        'card':Card,
        'score-panel':ScorePanel,
        'modale':Modale,
    },
     methods:{
        startGame:function(){
            this.cards=_shuffle(this.cards)
            this.totalTime=0
            this.cards.forEach(card=>{
                card.isFlipped=false
                card.isMatched=false
            })
            this.nbturns=0
            this.nbpairs=9
            this.startTimer()
            this.finish=false
        },
        flipCards:function(){ 
            this.cards.forEach(card => {
            if(card.isFlipped==true && !this.flippedCards.includes(card) && card.isMatched==false){ //checking weather array contain the card      
                this.flippedCards.push(card); //adding to array because value doesnt exists
            }
            });
            console.log('test',this.flippedCards) 
            if(this.flippedCards.length === 2) {
                setTimeout(()=>{
                    this.matchCards()
                },800)
            }
        },
        matchCards:function() {
            this.nbturns++
            if(this.flippedCards[0].name === this.flippedCards[1].name){
                this.flippedCards.forEach(card => {
                card.isMatched = true
                if(this.cards.every(card => card.isMatched === true)){
                    this.finish = true
                    clearInterval(this.timer)
                    this.toggleModale()
                    console.log('finish',this.finish)
                }
                })
                console.log('ok')
                this.nbpairs--
            }
            else
            {
                this.flippedCards.forEach(card => card.isFlipped = false)
                console.log('false')
            }
            this.flippedCards = []
        },
        startTimer:function() {
            this.timer = setInterval(() => this.countUp(), 1000)
        },
        countUp:function() {
            this.totalTime++
        },
        formatTime:function(time) {
            return (time < 10 ? '0' : '') + time;
        },
        toggleModale:function(){
            this.revele=!this.revele
        }
    },
    computed: {
        minutes:function() {
            const minutes = Math.floor(this.totalTime / 60);
            return this.formatTime(minutes);
        },
        secondes:function() {
            const secondes = this.totalTime - (this.minutes * 60);
            return this.formatTime(secondes);
        }
    }    
}
</script>

<style scoped>

.board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: darkmagenta;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}
#btn-start{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#color-btn{
   background: #35485e;
   color: blanchedalmond;
   border: none; 
}

</style>