<template>
    <div class=scoreboard>
        <div>Nombre de tours: {{nbturns}}</div>
        <div>Nombre de paires restantes: {{nbpairs}}</div>
        <div>Temps: {{minutes}} : {{secondes}}</div>
    </div>  
</template>

<script>
    export default{
        name:'ScoreBoard',
        props:['nbturns','nbpairs','minutes','secondes'] 
    }
</script>
 
<style scoped>
    .scoreboard{
        display:flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        color: whitesmoke;
    }
    @media screen and (max-width: 769px){

        .scoreboard{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (max-width: 321px){

        .scoreboard{
            font-size: 12px;
        }
    }

</style>