<template>
<header-top></header-top>
<panel></panel>
<footer-bottom></footer-bottom>
</template>

<script>
import Header from './components/Header.vue'
import Panel from './components/Panel.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components:{
    'header-top':Header,
    'panel':Panel,
    'footer-bottom':Footer
  }
}
</script>

<style >
  #app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
  }
</style>
